%tr
  %td= baby_name.name
  %td= baby_name.gender
  %td= baby_name.year
  %td= baby_name.total_count
  %td= baby_name.total_rank
  %td= baby_name.hispanic_count
  %td= baby_name.hispanic_rank
  %td= baby_name.black_count
  %td= baby_name.black_rank
  %td= baby_name.white_count
  %td= baby_name.white_rank
  %td= baby_name.asian_count
  %td= baby_name.asian_rank
  %td= baby_name.unknown_count
  %td= baby_name.unknown_rank
