= form.error_messages

%dl
  %dt= form.label :name
  %dd= form.text_field :name
  %dt= form.label :gender
  %dd= form.text_field :gender
  %dt= form.label :year
  %dd= form.text_field :year
  %dt= form.label :hispanic_count
  %dd= form.text_field :hispanic_count
  %dt= form.label :hispanic_rank
  %dd= form.text_field :hispanic_rank
  %dt= form.label :white_count
  %dd= form.text_field :white_count
  %dt= form.label :white_rank
  %dd= form.text_field :white_rank
  %dt= form.label :black_count
  %dd= form.text_field :black_count
  %dt= form.label :black_rank
  %dd= form.text_field :black_rank
  %dt= form.label :unknown_count
  %dd= form.text_field :unknown_count
  %dt= form.label :unknown_rank
  %dd= form.text_field :unknown_rank
